.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}
.gallery li {
  flex: 1 1 calc(33% - 20px);
}
.gallery img {
  display: block;
  width: 100%;
  height: auto;
}
